:root {
    --primary-color: #1a2f6d;
    --secondary-color: #333333;
    --light-bg: #f8f9fa;
    --font-serif: 'Playfair Display', serif;
    --font-sans: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-sans);
    color: var(--secondary-color);
    line-height: 1.6;
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-serif {
    font-family: var(--font-serif);
}

.text-primary {
    color: var(--primary-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

/* Header */
/* Header */
.site-header {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.nav-link {
    font-weight: 500;
    transition: opacity 0.2s;
}

.nav-link:hover {
    opacity: 0.8;
}

/* Hero Carousel */
.hero-slide {
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(114, 114, 114, 0.2);
}

.hero-slide-1 {
    background-image: url('../images/DSC_7939.jpg');
}

.hero-slide-2 {
    background-image: url('../images/nitd-gate.jpg');
}

.hero-slide-3 {
    background-image: url('../images/DSC_7954.jpg');
}

.carousel-caption {
    bottom: 20px;
}

/* Sections */
section {
    position: relative;
    overflow: hidden;
}

/* Footer */
.site-footer {
    background-color: #111;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.page-title::after {
    content: "";
    display: block;
    width: 200px;
    height: 4px;
    background: var(--primary-color);
    margin-top: 10px;
}

.page-title-2::after {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background: var(--primary-color);
    margin-top: 10px;
}

.dropcap::first-letter {
    font-size: 3rem;
    float: left;
    line-height: 0.9;
    margin-right: .25rem;
    font-weight: 300;
}

.btn-outline-warning {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.breadcrumb .breadcrumb-item {
    font-size: 14px;
    font-weight: 500;
    color: #444;
}

.breadcrumb .breadcrumb-item a {
    color: #001636;
    /* link color */
}

.breadcrumb .breadcrumb-item.active {
    color: #f5f5f5;
    /* active item color */
    font-weight: 500;
}